@{
    ViewBag.Title = "Inicio";
}

<div class="page-header">
    <h2>
        <span class="glyphicon glyphicon-home"></span> Bienvenido
        @if (Session["UserID"] != null)
        {
            <small>@Session["UserID"].ToString()</small>
        }
    </h2>
</div>

<div class="row" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-4" style="display: flex;">
        <div class="panel panel-primary" style="flex: 1;">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Clientes</h3>
            </div>
            <div class="panel-body">
                <p>Administrá el registro de clientes (ABM).</p>
                @Html.ActionLink("Ver Clientes", "Index", "Cliente", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-md-4" style="display: flex;">
        <div class="panel panel-info" style="flex: 1;">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-file"></span> Facturas</h3>
            </div>
            <div class="panel-body">
                <p>Registrá y gestioná las facturas del sistema.</p>
                <a href="#" class="btn btn-info">Próximamente</a>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="display: flex;">
        <div class="panel panel-default" style="flex: 1;">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Sistema</h3>
            </div>
            <div class="panel-body">
                <p>Configuración y opciones generales del sistema.</p>
                <a href="#" class="btn btn-default">Próximamente</a>
            </div>
        </div>
    </div>
</div>
